{% extends "base.html" %}

{% block title %}Home - Sandor Gyorfi{% endblock %}
{% block content %}
<!-- Hero Section -->
<section class="hero-introduction-section py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2 class="section-title mb-3">Innovative Web Solutions</h2>
                <p class="lead text-muted">Crafting impactful digital experiences with a fresh perspective.</p>
                <p>Hello, I'm Sandor. With a solid foundation in business and a fervent passion for technology, I create
                    web solutions that bridge the gap between user needs and business goals. My approach combines
                    strategic thinking with technical prowess to develop websites and applications that are not only
                    aesthetically pleasing but also functionally robust.</p>
                <p>My journey in web development is marked by a relentless pursuit of excellence and innovation.
                    Leveraging the latest technologies, I aim to deliver experiences that captivate and engage, ensuring
                    that each project surpasses expectations. My background in business enhances my ability to
                    understand and align with client objectives, providing a unique advantage in the digital landscape.
                </p>
                <p>Discover how my services can transform your digital presence. Whether you're looking for a
                    partnership that elevates your online identity or seeking innovative solutions, let's make it
                    happen.</p>
            </div>
        </div>
    </div>
</section>
<hr class="section-divider">
<!-- Services Section in home.html -->
<section class="services-section py-5 bg-light">
    <div class="container">
        <header class="mb-5 text-center">
            <h2 class="section-title mb-3">Featured Services</h2>
            <p class="lead text-muted">Discover tailored web solutions designed to empower and transform your digital
                presence.</p>
        </header>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card service-card mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text flex-grow-1">{{ service.home_description }}</p>
                        <a href="{% url 'service_detail' service.pk %}"
                            class="btn btn-outline-primary mt-2 align-self-start">Read More</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<hr class="section-divider">
<!-- Blog Section -->
<section class="blog-section py-5 bg-light">
    <div class="container">
        <header class="text-center mb-5">
            <h2 class="section-title mb-3">Featured Blog Posts</h2>
            <p class="lead text-muted">Explore my latest thoughts on technology and development.</p>
        </header>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in latest_blog_posts %}
            <div class="col">
                <div class="card mb-4 h-100 shadow-sm border-0">
                    <a href="{{ post.get_absolute_url }}"><img class="card-img-top"
                            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="{{ post.title }}"
                            loading="lazy"></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.created_at|date:"F d, Y" }}</div>
                        <h2 class="card-title h4">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <a class="btn btn-outline-primary mt-2 align-self-start" href="{{ post.get_absolute_url }}">Read
                            more →</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if latest_blog_posts|length == 0 %}
            <div class="col-12 text-center">
                <p class="text-muted">No blog posts available at the moment. Please check back later.</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}